#contenido1{
    width: 50%;
    min-height: 300px;
    margin-left: 5%;
    background-color: LightGray;
    border: 1px solid gray;
}
#inputs,#buttons{
    margin-left: 10px;
    margin-top: 10px;
}
#todoItems{
	background-color: LightBlue;
	margin: 10px;
}
#compItems{
	background-color: LightGreen;
	margin: 10px;
}
