


/* texto base: 14pt
 interlineado: 20.72 - 20.72/14 = 1.48em
fuente: source sans pro
color: #464646*/
* {
    box-sizing: border-box; /*experimental. para que ocupe lo requerido*/
}

html, body {
    background-color: #f7f7f7;
    font: 14pt "Source Sans Pro", sans-serif;
    color: #464646;
    line-height: 1.48em; /*interlineado*/
    font-weight: normal;
}

a {
    color: #000;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
ul {
    margin-top: 0;
    list-style: none;
}

.list{
    list-style: none;
    padding-left: 0;
}

.list p{
    margin:0;
}

.list li{
    padding: 20px 0;
}

.list li:first-child{
    padding-top: 0;
}

.list-blue li{
    background: transparent url(../imagenes/bullet-blue.png) no-repeat 0 20px;
    padding-left: 20px;
}

h1, .h1 {
    font-size:2em; /*28pt / 14pt = 2em inter: */
    text-transform: uppercase;
    line-height: 1.08em;
    font-weight: normal;
}

.marco{
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 5px grey;
}

.marco p{
    margin: 0;
}

img{
    max-width: 100%;
    min-width: 0%;
}

/*wrapper*/
.fcenter {
    width: 990px;
    margin: 0 auto;
    padding: 40px 0;
}

.fcenter:before, .fcenter:after,
.clearfix:before, .clearfix:after{
    content: "";
    display: table;
}

.fcenter:after, .clearfix:after{
    clear: both;
}

.center {
    text-align: center;
}

table {
    width: 100%;
}

.col-25 { width: 25%;}
.col-75 { width: 75%;}
.col-50 { width: 50%;}

.descripcion{
    padding-left: 20px;
}

.fleft {
    float: left;
}

.italic{
    font-style: italic;
}

/*colores*/

.txt-red{
    color: red;
}

.txt-blue{
    color: #69A9E0;
}

.fblanco {
    background: white;
}

.price{
    font-size: 1.5em;
    font-weight: bold;
}

.breadcrumb {
    text-transform: uppercase;
    list-style: none;
    padding-left: 0;
}

.breadcrumb li{
    display: inline-block;
}

.breadcrumb li:after{
    content: "/";
}

.breadcrumb li.actual:after{
    content: "";
}

.breadcrumb a{
    margin-right: 5px;
}

.breadcrumb .actual, .menu .actual {
    color: red;
}

* .fgris:first-child .fcenter{
    padding-bottom: 0;
}

.footer li{
    display: inline-block;
}

/*Botones*/

.btn {
    margin: auto 5px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    display: inline-block;

    width: 75px;
    padding: 2px;

    border-radius: 3px;
    box-shadow: 0 3px 5px grey;
    background-image: linear-gradient(to bottom, #999, #CCC);

}

.btn-buy {
    background-image: linear-gradient(to bottom, #f74040 80%, #d33535);
}

.btn-go {
    background-image: linear-gradient(to bottom, #23BE2E 80%, #258E2D);
}

.btn-big {
    padding-top: 7px;
    padding-bottom: 7px;
}

/*TODO*/
/*
    Botones
    Tabla
    Balines
    Pie en linea
*/