#container{
    width: 96%;
    background-color: LightGreen;
    border: 1px solid green;
    position: absolute;
    margin: 2% 2% 2% 2%;
}

#contenedor{
}

#inicio1, #inicio2, #inicio3{
    padding-top: 10px;
    min-height: 400px;
    color: DarkSlateGrey;
}

header{
    background-color: green;
    border: 1px solid green;
    color: white;
}
header h1{
    text-align: center;
}
h2{
    margin-left: 1em;
}
span{
    margin: 1em;
}
img{
    max-width: 100%;
}
